<br>
<div id="cours_details_main" class="container">
  <div class="row">
    <div class='span2' style="margin-left: 45px;">
      <p><a href="<%= lessons_path %>"><img src="/images/retour_liste.png"/> Revenir à la liste des cours </a></p>
      <div class="cours_details_box">
        <p id="cours_details_box_photo"><img src="<%= @lesson.syllabus.avatar.url %>" alt="photo cours"/></p>
        <p id="bouton_inscription">
      </div>
      <% if @lesson.syllabus.flag_interne %>
          <%= link_to image_tag("/images/bouton_inscription.png"), register_interne_lesson_path(@lesson), :remote => true %>

      <% else %>
          <%= link_to image_tag("/images/bouton_inscription.png"), register_lesson_path(@lesson) %>
      <% end %>
      </p>

      <hr>
      <p class="big">
        <img src="/images/date_details.png"/> <%= I18n.localize(@lesson.horaire, :format => :jourmois, :locale => :fr) %>
      </p>

      <p class="tab_droite"><%= I18n.localize(@lesson.horaire, :format => :heure, :locale => :fr) + " - " + I18n.localize(@lesson.horaire + @lesson.syllabus.duree.seconds, :format => :heure, :locale => :fr) %></p>
      <hr>
      <p class="big bottom_small"><img src="/images/places_details.png"/> <%= @lesson.syllabus.nb_max_apprenants %>
        participants max. </p>

      <p class="italic indent"> Encore xx participants pour valider le cours</p>
      <hr>
      <% if @lesson.syllabus.flag_interne && @lesson.syllabus.flag_lieu_defini %>
          <p class="big"><img src="/images/pin_details.png"/> <%= @lesson.syllabus.adresse_num_voie %> </p>

          <p class="tab_adresse big"> <%= @lesson.syllabus.adresse_codepostal.to_s + " " + @lesson.syllabus.adresse_ville %> </p>
          <hr>
      <% end %>
      <p class="big bottom_small"><img src="/images/prix_details.png"/> <%= @lesson.syllabus.prixbase %> €</p>

      <p class="bottom_shadow">
        <img src="/images/vignettes_bottom.png"/>
      </p>
    </div>
    <br><br>

    <div class="cours_details_organisateur">

      <p class="big">
        <img src="<%= @lesson.syllabus.organisateur.avatar.thumb.url unless @lesson.syllabus.organisateur.class == NilClass %>" alt=""/>
        L'organisateur
      </p>

      <p class="tab_orga">
        <%= @lesson.syllabus.organisateur.name unless @lesson.syllabus.organisateur.class == NilClass %>
      </p>
      <br>
      <hr>
      <p class="big bottom_small profil">Profil</p>

      <p class="italic profil"><%= truncate(@lesson.syllabus.organisateur.description, :length => 250) unless @lesson.syllabus.organisateur.class == NilClass %></p>

      <p class="bottom_shadow">
        <img src="/images/vignettes_bottom.png"/>
      </p>
    </div>
  </div>

  <div class='span7'>
    <h1><%= @lesson.syllabus.name %> </h1>
    <% if !(@lesson.syllabus.label.nil?) %>
        <% if @lesson.syllabus.label.name == "Coup de coeur" %>
            <div id="cours_details_label">
              <p id="cours_label_name">
                <img src="/images/coupdecoeur_detail.png"/>
                Coup de coeur A l'école Buissonnière
              </p>
            </div>
        <% end %>
    <% end %>

    <div id="cours_details_decouverte">
      <p> Faites découvrir ce cours à vos amis !</p>
    </div>

    <div id="cours_details_content">

      <h3>Description</h3>

      <p><%= @lesson.syllabus.description.html_safe %></p>
      <hr>
      <h3> Commentaires</h3>
    </div>
  </div>
</div>

</div>
