<div class="vignette_box">
  <div class="cours_box">
    <div id="cours_images_div">
        <img class="cours_image" src="<%= @cours.syllabus.avatar.url %>"/>
        <img class="cours_label" src="<%= @cours.syllabus.label.avatar.url unless @cours.syllabus.label.class == NilClass %>"/>
    </div>
    <h1> <%= link_to(@cours.syllabus.name,lesson_path(@cours)) %></h1>

    <h3>PAR: <%= @cours.syllabus.organisateur.name unless @cours.syllabus.organisateur.class == NilClass %></h3>
    <p> <%= truncate(@cours.syllabus.description, :length => 60) %></p>
  </div>

  <div class="cours_logistique">
    <p class="cours_details heure"><img src="/images/date_vignettes.png"/> <%=  I18n.localize(@cours.horaire, :format => :pres, :locale => :fr)%> </p>

    <p class="cours_details"><img src="/images/places_vignettes.png"/> <%= @cours.syllabus.nb_max_apprenants %> participants max.</p>

    <p id="price_tag"><%= @cours.syllabus.prixbase %> €</p>
  </div>

  <br>
  <p class="bottom_shadow_vignettes">
    <img src="/images/vignettes_bottom.png"/>
  </p>
</div>
