

<div id="lessons_coupdecoeur">
  <p id="lessons_coupdecoeur_titre"><img src="<%= Label.find_by_name("Coup de coeur").avatar.url %>"/> Les coups de coeur de l'école buissonière</p>


  <% lessonscoupdecoeur.each do |s| %>
      <% @cours = s %>
          <div class="span2">
              <%= render 'vignette' %>
          </div>
  <% end %>

</div>

<div id="lessons_separateur"></div>

<div id="lessons_liste">
  <div id="lessons_recherche" class="span2">
    <%=  render 'searchbox'%>
  </div>


  <div id="lessons_vignettes" class="row">

    <% @lessons.each do |s| %>
        <% @cours = s %>
        <div class="span2">
            <%= render 'vignette' %>
        </div>
    <% end %>
  </div>
  <%= paginate @lessons %>
</div>


