<br>
<div id="cours_details_main" class="container">
  <div class="row">
    <div class='span2 well'>
      <div class="cours_details_box">
        <p><a><img src="/images/retour_liste.png" alt=""/> Revenir à la liste des cours </a></p>

        <p><img src="<%= @lesson.syllabus.avatar.url %>" alt="photo cours"/></p>

        <p> <%= link_to image_tag("/images/bouton_inscription.png"), @lesson %> </p>
        <hr>
        <p class="big">
          <img src="/images/date_details.png"/> <%= I18n.localize(@lesson.horaire, :format => :jourmois, :locale => :fr) %>
        </p>

        <p class="tab_droite"><%= I18n.localize(@lesson.horaire, :format => :heure, :locale => :fr) + " - " + I18n.localize(@lesson.horaire + @lesson.syllabus.duree.seconds, :format => :heure, :locale => :fr) %></p>
        <hr>
        <p class="big"><img src="/images/places_details.png"/> xx places restantes </p>

        <p class="italic"> Encore xx participants pour valider le cours</p>
        <hr>
        <% if @lesson.syllabus.flag_interne && @lesson.syllabus.flag_lieu_defini %>
            <p class="big"><img src="/images/pin_details.png"/> <%= @lesson.syllabus.adresse_num_voie %> </p>

            <p class="tab_droite big"> <%= @lesson.syllabus.adresse_codepostal.to_s + " " + @lesson.syllabus.adresse_ville %> </p>
            <hr>
        <% end %>
        <p class="big"><img src="/images/prix_details.png"/> <%= @lesson.syllabus.prixbase %> €</p>
        <hr>
      </div>
      <br><br>

      <div class="cours_details_organisateur">
        <h4> L'organisateur</h4>
        <img src="<%= @lesson.syllabus.organisateur.avatar.url unless @lesson.syllabus.organisateur.class == NilClass %>" alt=""/>
        <p class="big"> <%= @lesson.syllabus.organisateur.name unless @lesson.syllabus.organisateur.class == NilClass %> </p>

        <hr>
        <p class="big">Profil</p>

        <p class="big"><%= truncate(@lesson.syllabus.organisateur.description, :length => 250) unless @lesson.syllabus.organisateur.class == NilClass %></p>

      </div>
    </div>
    <div class='span7'>
      <h1><%= @lesson.syllabus.name %> </h1>
      <% if !(@lesson.syllabus.organisateur.class == NilClass) %>
      <br>
      <div id="cours_details_banniere">
        <p id="cours_label_name">
        <img src="<%= @lesson.syllabus.label.avatar.thumb.url %>"/>
          <%= @lesson.syllabus.label.name %>
        </p>
      </div>
      <% end  %>
      <h3>Description</h3>
      <p><%= @lesson.syllabus.description.html_safe %></p>
      <h3> Commentaires</h3>
    </div>
  </div>

</div>
